
body {
    padding:0;
    margin:0;
    font-family: 'quicksand', sans-serif;
}
.font_quicksand {
    font-family: 'quicksand', sans-serif;
}
.font_questrial {
    font-family: 'questrial', sans-serif;
}

.bck_black {
    background: #475f77ff;
}
.bck_blackest {
    background: #33485bff;
}
.bck_white {
    background: #dcddd8ff;
}
.bck_red {
    background: #d74b4bff;
}
.bck_orange {
    background: #ff7f2aff;
}
.encabezado{
    font-size: 40px;
    text-align: center;
    color: #dcddd8ff;
    padding: 20px;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}


/*====================
      SIDE-DRAWER
======================*/
.side_drawer{
    font-size: 20px;
    font-family: 'questrial', sans-serif;
    font-weight: 400;
    color: #262626;
}
.boton_drawer{
    padding: 40px;
}

/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
    padding-left: 10px;
}
header .header_logo_ment {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#33485bff;
    
}

footer .footer_copyright {
    font-size: 18px;
}


/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid white;
}

.artist_name .wrapper {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}



/*====================
        Nuestros servicios
======================*/

.vn_wrapper {

    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    margin-top: 20px;
    
}

.vn_item {
    display: flex;
    justify-content: center;
    align-content: center;
    
    width:30%;
    color:#262626;
    text-align: center;
    padding: 70px;
}
                      
.vn_item .vn_outer {
    width: 300px;
    border: 2px solid #262626;
    margin: auto;
    padding: 5px;
}

.vn_item .vn_inner { 
   
    border: 2px solid #262626;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.vn_item .vn_inner:hover {
    background: #bbbbbb;
}

.vn_item .vn_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    
    
}
.icono {
    display: flex;
    justify-content: center;
    align-content: center;
}
.vn_icon_square .vn_icon{
    margin: auto;
}


.vn_item .vn_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    
}

.vn_item .vn_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 2px solid #d74b4bff;
    padding-bottom: 10px;
}

.vn_item .vn_desc {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}
.bck_white .encabezado{
    color: #262626;
}


/*====================
   ACERCA DE NOSOTROS
======================*/
.acerca_de_wrapper{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    
    
    padding-bottom: 80px;
}
.descripcion_acerca_de{
    text-align: center;
    width: 60%;
    color: #dcddd8ff;
    font-size: 28px;
    font-weight: 300;
}

/*====================
        NOSOTROS
======================*/

.contenido{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: baseline;
   
}

.perfil{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    padding-bottom: 60px;
    
    
}

.descripcion{
    display: flex;
    flex-flow: column wrap;
   
    align-items: center;
    
    
}
.nombre{
    color: #dcddd8ff;
    font-size: 22px;
    padding: 10px;
}
.perfil-email{
    font-size: 16px;
    font-weight: 200;
}
.bio_texto{
    text-align: center;
    color: #dcddd8ff;
    font-size: 20px;
    border-top: 2px solid #dcddd8ff;
    padding: 10px;
}
.foto_perfil{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
.contactanos_wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    
        
        
        
    }
.iconos {
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    }
    .iconos a{
        margin: 20px;
        
    }
    .correo{
        color: #dcddd8ff;
        font-size: 28px;
        padding: 10px;
    }
